# Django
SECRET_KEY=your-secret-key-here-change-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
DB_NAME=luers_db
DB_USER=luers_user
DB_PASSWORD=luers_password
DB_HOST=localhost
DB_PORT=5432

# Redis (for Channels + Celery)
REDIS_URL=redis://localhost:6379/0

# Celery Broker URL (same as Redis)
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# Media / File uploads
MEDIA_ROOT=media/

# Identity escrow encryption (generate with: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())")
FERNET_KEY=J4anSPcc0PLbEWfXGyVlR9RnPm-2omcDs9EMcRWLD60=
IDENTITY_HASH_KEY=85791df239a91d1b3f7b17b9a4f07f0917c4eb4d9e83475af78be243e561d423