Django
djangorestframework
djangorestframework-simplejwt
psycopg2-binary
django-environ
django-cors-headers
channels
daphne
channels-redis
redis
django-redis
celery
drf-spectacular
django-ratelimit
cryptography
twilio
reportlab
sentry-sdk

# Testing
pytest
pytest-django
pytest-asyncio
pytest-cov
factory_boy
Faker